trigger:
  branches:
    include:
      - dev

variables:
- group: MyDevInfraVars
- name: imageTag
  value: '$(Build.BuildId)'

pool:
  name: MySelfHostedPool

parameters:
  - name: services
    type: object
    default:
      - name: InventoryService
        path: src/InventoryService/src/InventoryService.API
      # Add more services here...

stages:
- stage: BuildAndPush
  displayName: Build and Push All Microservices
  jobs:
    - ${{ each svc in parameters.services }}:
      - job: BuildPush_${{ svc.name }}
        displayName: Build and Push ${{ svc.name }}
        steps:
          - task: Docker@2
            inputs:
              containerRegistry: 'MyACRServiceConnection'
              repository: ${{ svc.name }}
              command: 'buildAndPush'
              Dockerfile: '$(Build.SourcesDirectory)/${{ svc.path }}/Dockerfile'
              buildContext: '$(Build.SourcesDirectory)/src/InventoryService/src'
              tags: |
                $(imageTag)

- stage: Deploy
  dependsOn: BuildAndPush
  displayName: Deploy All Services to ACA
  jobs:
    - ${{ each svc in parameters.services }}:
      - job: Deploy_${{ svc.name }}
        displayName: Deploy ${{ svc.name }}
        steps:
          - task: AzureCLI@2
            inputs:
              azureSubscription: 'MyAzureServiceConnection'
              scriptType: 'ps'  # PowerShell
              scriptLocation: 'inlineScript'
              inlineScript: |
                  Write-Host "Deploying ${{ svc.name }}..."

                  $templatePath = "$(Build.SourcesDirectory)\infrastructure\Bicep\main.bicep"

                  if (-Not (Test-Path $templatePath)) {
                    Write-Host "Bicep file NOT FOUND at: $templatePath"
                    Get-ChildItem -Path "$(Build.SourcesDirectory)\infrastructure\Bicep\" | Format-List
                    throw "Missing template file"
                  }

                  Write-Host "Using Windows path for deployment: $templatePath"

                  $imageName = "$(acrLoginServer)/$(svc.name.ToLower()):$(imageTag)"
                  Write-Host "Deploying image: $imageName"

                  az deployment group create `
                    --resource-group $(resourceGroup) `
                    --template-file "$templatePath" `
                    --parameters `
                      BuildId=$(Build.BuildId) `
                      acrName=$(acrName) `
                      env=$(env) `
                      image=$imageName`
                      revisionSuffix="rev-$(Build.BuildId)"

